<!DOCTYPE html>
<html lang="en">
  <head>
      <!--Bootstrap meta-->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  </head>
  <body>
    {{{body}}}

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
